.Feed {
  margin: 10em 0;
  background-color: var(--main-bg-color);
  padding: 6em;
  box-shadow: 0em 0em 8em var(--main-shadow-color);
  border: 1px solid var(--border-color);
}

.Feed__list-item {
  list-style: none;
}