.Single {
  height: fit-content;
  width: 78em;
}

.Single__post {
  position: relative;
  margin: 24em 0 8em 0;
  background-color: var(--main-bg-color);
  padding: 8em 4em 4em 4em;
  border: 1px solid var(--border-color);
  box-shadow: 0em 0em 8em var(--main-shadow-color);
}

.Single__title {
  font-family: var(--title-font);
  font-size: 4em;
  text-transform: capitalize;
  line-height: 1em;
}

.Single__body {
  font-family: var(--body-font);
  font-size: 2em;
  text-transform: capitalize;
  line-height: 1.8em;
}

.Single__hero {
  position: absolute;
  top: -18em;
  border: 1px solid var(--border-color);
  width: 25em;
  height: 25em;
  padding: .5em;
  background-color: var(--main-bg-color);
}

.Single__hero img {
  display: block;
  margin: .5em;
  padding: 0;
}

.Single__go-back {
  position: absolute;
  top: -3em;
  left: -3em;
  text-decoration: none;
  color: var(--link-color);
  font-size: 1.6em;
  font-weight: 800;
  font-family: var(--title-font);
}