@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Merriweather:ital,wght@0,300;1,300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  overflow-y: scroll;
  overflow-x: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition-delay: 3600s;
}

.body--dark {
  --bg-color: #151515;
  --bg-color-2: #353535;

  --main-bg-color: #151515;
  --main-shadow-color: #151515;

  --text-color: #fafafa;
  --link-color: #f2cf9d;
  --border-color: #61524c;

  --title-font: 'Alegreya SC', serif;
  --body-font: 'Merriweather', serif;
}
